/* beginning of planner css *************************************************/
.planner {
  margin: 5rem 1rem 1rem 15.5rem;
}

#list {
  margin-bottom: 2rem;
}

/* this is for previous and next buttons */
.planner .btn {
  background-color: #cc5500;
  color: #000;
  font-weight: 500;
  border: 0.5px solid #000;
  opacity: 0.9;
  margin: 3rem 10rem;
  padding: 1rem 2rem;
}

.planner .btn:hover {
  opacity: 1;
  box-shadow: 0 5px darkgrey;
  transform: translateY(4px);
  border: 2px solid #000;
}

input {
  border: 0;
  width: 90%;
  text-align: center;
}

input:focus {
  outline: 0;
}

@media(max-width:1000px) {
  .planner {
    margin-left: 0 !important;
    margin-top: 7rem;
    position: absolute;
    z-index: 1;
  }

  .planner .btn {
    margin: 3rem;
    padding: 0.5rem 1rem;
  }
}
