.upload-section{
    margin: 5rem 1rem 1rem 15.5rem;
}

.upload-section .btn{
  background-color: #cc5500;
  color:#000;
  font-weight: 500;
  border:0.5px solid #000;
  opacity: 0.9;
  margin: 3rem 10rem;
  padding: 1rem 2rem;
}
.upload-section .btn:hover{
opacity: 1;
box-shadow: 0 5px darkgrey;
transform: translateY(4px);
border:2px solid #000;
}


@media(max-width:1000px) {
  .upload-section{
    margin-top: 7rem;
    margin-left: 1.5rem !important;
    position: absolute;
    z-index: 1;
    width: 90%;
  }
  .upload-section .btn{
    margin: 3rem;
    padding:0.5rem 1rem;
  }
}
